<tr>
    <td>
        <%= f.input_field :_destroy, as: :hidden %>
        <%= link_to 'Delete', '#', class: 'remove_record'%>
    </td>
    <td>
        <%#= f.input :category, label: false %>
        <%= f.select(:category, options_for_select([['페이스북', 'facebook'], ['인스타그램', 'instagram'], ['블로그','blog']],f.object.category)) %>

    </td>
    <td><%= f.input :content, label: false %></td>
</tr>