
<div class="wrapper wrapper-content animated fadeInRight">
  <%= link_to 'Back', :back, class: 'btn btn-primary' %>  
  <h2>작가 수정</h2>
  <div class="wrapper wrapper-content">
    <%= render partial: 'form'%>
  </div>
</div>
