<h1>New Artist</h1>

<div class="panel panel-success">
  <div class="panel-heading">
    작가등록
  </div>
  <div class="panel-body">
    <%= render partial: 'form' %>
  </div>
</div>
<%= link_to 'Back', artists_path %>
