<% if @artwork.new_record? %>
  console.log("create.js.erb(1)");
  alert("Failed to upload artwork: <%= j @artwork.errors.full_messages.join(', ').html_safe %>");
<% else %>
  console.log("create.js.erb(2)");
  $("#add_form").append("
  <%#= j render partial: "artwork_view", locals: {artwork: @artwork) %>
  <p>Test</p>
  ");
<% end %>