<h1>Artwork Index</h1>

  <% @artworks.each do |artwork| %>
    <div class="panel panel-info">
      <%= image_tag artwork.image.url(:thumb) %>
      <%#= render partial: "form_artwork", :locals => { artwork: artwork }%>
    </div>
  <% end %>
 
<%= link_to "Artwork Edit", new_artwork_path %>