<h1>New Spaces</h1>

<div class="panel panel-success">
  <div class="panel-heading">
    전시장 추가
  </div>
  <div class="panel-body">
    <%= render partial: 'form' %>
  </div>
</div>
<%= link_to 'Back', spaces_path %>
