<h1>New Catalogue</h1>

<div class="panel panel-success">
  <div class="panel-heading">
    작품추가
  </div>
  <div class="panel-body">
    <%= render partial: 'form' %>
  </div>
</div>
<%= link_to 'Back', histories_path %>
