<h1>Contacts#index</h1>
<p>Find me in app/views/contacts/index.html.erb</p>


<div>
    <% @contacts.each do |contact| %>
    <div>
        <%= simple_format contact.category %>
        <%= simple_format contact.content %>
    </div>
</div>