    <tr>
        <td><%= f.input :title, label: false %></td>
        <td><%= f.input :category, label: false %></td>
        <td>
            <%= f.input :start_date, label: false, as: :date, include_blank: true, :end_year => 1910, :start_year => Time.now.year + 10%>~
        <td>
            <%= f.input :end_date, label: false, as: :date, include_blank: true, :end_year => 1910, :start_year => Time.now.year + 10 %>
        </td>
    </tr>
<%#end%>