
<div class="wrapper wrapper-content animated fadeInRight">
  <%= link_to 'Back', catalogues_path, class: 'btn btn-primary' %>
  <h2>도록 수정</h2>
  <div class="wrapper wrapper-content">
    <%= render partial: 'form', class: 'form-horizontal'%>
  </div>
</div>
