// Place all the styles related to the artworks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700,500,300);


.upload-zone {      
  margin: auto;
  position: relative;
//   top: 0; left: 0; bottom: 0; right: 0;
  background: #f3f3f4; /* whitesmoke */;
  width:85%;
  height:50%;  
  border:5px dashed white;
  text-align:center;
  color: white;
  z-index: 20;
  transition: all 0.3s ease-out;
  // box-shadow: 0 0 0 1px rgba(255,255,255,.05),inset 0 0 .25em 0 rgba(0,0,0,.25);
  .btnCompression {
    .btn {

    } 
    .active {
      background: #EB6A5A;
      color:white;
    }
  }
  i {
    text-align: center;
    font-size: 10em;  
    color:#fff;
    margin-top: 50px;
  }
  .selectFile {
    height: 50px;
    margin: 20px auto;
    position: relative;
    width: 200px;          
  }

  .upload-label, input {
    cursor: pointer;
    display: block;
    height: 50px;
    left: 0;
    // position: absolute;
    top: 0;
    width: 100%;
    // border-radius: 5px;          
  }

  .upload-label {
    // background: #fff;
    color:#EB6A5A;
    display: inline-block;
    font-size: 1em;
    line-height: 50px;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 400;   
    // box-shadow: 0 1px 1px gray;
    b{
      font-size: 1.1em;
    }
  }

  input[type=file] {
    opacity: 0;
    // background: red;
        position: absolute;
    height: 100%;
  }

}

.upload-zone:hover {
  opacity: 0.5;
}

.icon-large {
    text-align: center;
    font-size: 10em;  
    color: #2f4050; /* darkslategray */
    margin-top: 50px;
}

.icon-mid {
    text-align: center;
    font-size: 1.5em;  
    color: #2f4050; /* darkslategray */
    margin-top: 50px;
}

.icon-small {
    text-align: center;
    font-size: 1em;  
    color: #2f4050; /* darkslategray */
    margin-top: 50px;
}



.form-zone:hover {
  opacity: 40%;
}

// .ibox-content {
//   text-align: center;
// }


  input[type=file] {
    display: inline-block!important ;
  }

