.catalog-cover figure img {
  /*max-width: 100%;*/
  /*max-height: 100%;*/
}

.testbg {
  background-color: red;
}

.fa-2 {
  font-size: 2em;
}

.fa-3 {
  font-size: 3em;
}

.fa-4 {
  font-size: 4em;
}

.fa-5 {
  font-size: 5em;
}

.catalog-list .catalog .catalog-cover {
  float: left;
  width: 100px;
}

.catalog-list .catalog .catalog-text {
  float: left;
}
