  <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header <%= 'active' if params[:controller] == 'dashboards' %>">
                    <!-- <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong>
                             </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="#">Logout</a></li>
                            </ul>
                    </div> -->
                    <div class="logo-element">
                        <a href="/dashboards/index">Web Catalogue</a>
                    </div>
                </li>
                <li class="<%= 'active' if current_page?(new_catalogue_path) %>">
                    <a href="/catalogues/new"><i class="fa fa-book"></i> <span class="nav-label">웹 도록 만들기</span></a>
                </li>
                <li class="<%= 'active' if current_page?(catalogues_path) %>">
                    <a href="/catalogues"><i class="fa fa-archive"></i> <span class="nav-label">웹 도록 목록</span> </a>
                </li>
                <li class="<%= 'active' if current_page?(artworks_path) %>">
                    <a href="/artworks"><i class="fa fa-th"></i> <span class="nav-label">작품 간추려 보기</span> </a>
                </li>
                <li>
                    <a href="/dashboards/help"><i class="fa fa-wrench"></i> <span class="nav-label">문의 하기</span> </a>
                </li>
            </ul>

        </div>
    </nav>